::-webkit-scrollbar {
  width: 10px;
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #afb4bf;
  border-radius: 3px;
}

img:error {
    display: none;
}

html {
  font-size: 16px;
}

html, body {
  background-color: #efefef;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-height: 36rem;
  min-width: 50rem;
}

body {
  padding: 1px 0;
  margin: 0;
  font-size: 12px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  user-select: none;
}

.btn:hover {
  font-weight: bolder;
  background-color: #66666d !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #bf4f3c;
  animation: ease-in-out;
  outline: none;
}

a:hover {
  box-shadow: 0 2px 0 0 #6065a0 !important;
  border-radius: 0 !important;
}

.hide {
  display: none !important;
}

.disable {
  pointer-events: none;
  opacity: 0.6;
  user-select: none;
}
