._web_diary_disabled_g {
    pointer-events: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #b4b9bf;
    opacity: 0.7;
    max-height: 5em;
    overflow: hidden;
    transition: all 300ms;
}

._web_diary_disabled_title {
    opacity: unset;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: none;
}

._web_diary_disabled_btn {
    right: 1em;
    margin: -0.8em 0 0 0;
    width: 1em;
    height: 1em;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    line-height: 1.6em;
    vertical-align: top;
    padding: 0.3em 0 0.2em 0;
    color: red;
    pointer-events: auto;
    display: none;
    position: absolute;
}

._web_diary_disabled_btn:hover {
    font-weight: bolder;
}

._web_diary_disabled_g > ._web_diary_disabled_title, ._web_diary_disabled_g > ._web_diary_disabled_btn {
    display: block;
}
